.nav-menu nav {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: quicksand;
    letter-spacing: 1.1px;
    background-color: whitesmoke;
    height: 60px;
    background: linear-gradient(to top, black, #999999);
    color: whitesmoke;
    border-bottom: 0.5px solid white;
  }

  .nav-icons{
    grid-column: 1;
    display:flex;
    align-items: center;
    justify-self: flex-start;
    gap: 20px;
    margin: 0;
    padding-left: 60px;
  }

  .nav-icons img{
    width: 30px;
    height: 30px;
  }

  .nav-list{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding-right: 60px;
    padding-bottom: 10px;
  }

  .nav-item:hover{
    font-weight: bolder;
    text-shadow: -1px 1px 2px white;
    transition: 0.5s;
  }

  .nav-item-home{
    color: #88FA4E;
    text-decoration: none;
  }

  .nav-item-home:hover{
    font-weight: bolder;
    text-shadow: -1px 1px 2px #88FA4E;
    transition: 0.5s;
  }

  .mobile-menu{
    display: none;
  }

  .mobile-menu-icon{
    display: none;
}

/* -------------------- RESPONSIVE -------------------- */

@media screen and (min-width:360px) and (max-width: 767px) {

.nav-menu{
  background: linear-gradient(to top, black, rgb(110, 110, 110));
}

.nav-menu nav{
  display: none;
}

.hide-desktop-menu{
  display: none;
}

.mobile-menu-icon{
  display: flex;
  align-items:center ;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 5px;
}

.menu-icon{
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, black, rgb(110, 110, 110));
  font-family: quicksand;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu.open{
  display: flex;
}

.mobile-menu nav{
  text-align: center;
}

}